#team-list-item{
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(41, 41, 41);
    border: 1px dotted rgb(202, 202, 202);
    padding: 0px 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#team-list-item > div {
    padding: 5px;
}

#team-list-item-title{
    width: 50%;
    color: rgb(0, 0, 61);
}

#team-list-item-title:hover{
    cursor: pointer;
    opacity: .8;
}

#delete-team-btn{
    cursor: pointer;
    border: 1px solid rgb(163, 29, 29);
    background-color: rgb(255, 156, 145);
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(58, 15, 15);
    font-size: 14px;
    padding: 2px 6px;
    margin-top: 28%;
}
#delete-team-btn:hover{
    border: 1px solid rgb(172, 50, 50);
    background-color: rgb(255, 202, 196);
}