#player2-list-item-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* border: 1px solid purple; */
}

#player2-list-item-selected-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 0;
    background-color: rgb(192, 255, 192);
}

#player2-list-item-container:hover{
    background-color: rgb(229, 255, 227);
    cursor: pointer;
}

#playercard-row-item{
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    font-size: 13px;
}

#playercard-row-item > div{
    padding: 4px 0;
    width: 12%;
    border: 1px solid rgb(220, 220, 220);
    overflow-x: hidden;
}