#registerteam-page-content{
    margin: 80px auto 0 auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px gray;
    width: 310px;
}

#registerteam-page-content{
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 38);
}

#registerteam-form{
    width: 230px;
    margin: 0 auto;
    padding: 8px 0;
}

#lets-add-team{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

#registerteam-input-item{
    margin-bottom: 10px;
}

#registerteam-input-label{
    display: block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#registerteam-input{
    margin-top: 8px;
    width: 180px;
    height: 25px;
    padding-left: 2px;
}

#registeraddteam-btn{
    margin: 10px 0 10px 0;
    background-color: rgb(228, 34, 0);
    border-radius: 4px;
    padding: 4px 6px;
    color: white;
    font-size: 18px;
    width: 110px;
    text-align: center;
}

#registeraddteam-btn:hover{
    background-color: rgb(255, 96, 68);
}

#already-registered{
    font-size: 14px;
}