#game-event-item-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 8px 3px 8px 3px;
    width: 98%;
}

#game-event-item-selected-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(167, 195, 255);
    padding: 8px 3px 8px 3px;
    width: 98%;
}

#game-event-item-container:hover{
    background-color: rgb(255, 183, 105);
    cursor: pointer;
}