#team-dashboard-content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 4px gray;
  margin: 40px auto 0 280px;
  padding: 10px;
  width: 310px;
}
#team-dashboard-items {
  width: 96%;
}
