#loginpage-container {
  margin: 80px auto 0 auto;
  width: 360px;
  background-color: white;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 48);
}

#loginpage-content {
  width: 260px;
  padding-bottom: 20px;
  margin: 0 auto;
}

#signin-to-account {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 35px;
}

#loginpage-label {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin-bottom: 6px;
}

#loginpage-input {
  margin: 0px 0 16px 0;
  font-family: 'Roboto';
  width: 250px;
  border-radius: 3px;
  border: 1px solid rgb(183, 183, 183);
  height: 30px;
  padding: 1px 0 0 8px;
  font-size: 16px;
}

#loginpage-input:focus {
  outline: 1px solid rgb(60, 229, 255);
  border: 1px solid rgb(244, 244, 244);
}

#loginpage-validation-error {
  color: rgb(255, 68, 68);
}

#login-btn {
  margin: 14px 0 16px 0;
  background: rgb(255, 89, 0);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-align: center;
  padding: 10px 5px;
  box-shadow: 2px 4px 5px -2px rgb(186, 186, 186);
  cursor: pointer;
}

#loginpage-no-account {
  color: rgb(0, 0, 48);
  opacity: 0.8;
}

#loginpage-signup-link {
  padding-left: 3px;
  text-decoration: none;
  color: rgb(58, 120, 255);
  font-size: 16px;
  opacity: 0.9;
}
#loginpage-signup-link:hover {
  opacity: 1;
}
