#user-dashboard-content {
  background-color: white;
  margin: 100px auto 0 auto;
  padding: 10px;
  border-radius: 6px;
  width: 310px;
  min-height: 160px;
}
#user-dashboard-items {
  border: 1px solid green;
  width: 96%;
}

#user-dashboard-add-team-btn{
  background-color: rgb(103, 255, 103);
  border: 1px solid green;
  text-align: center;
  width: 90px;
  padding: 4px 6px;
}

#user-dashboard-add-team-btn:hover{
  cursor: pointer;
  background-color: rgb(136, 255, 136);
  border: 1px solid green;
  text-align: center;
  width: 90px;
  padding: 4px 6px;
}
